<ul>

<% @reservations.each do |reservation| %>
	<li>
		
			<% if reservation.restaurant %>
				<%= reservation.restaurant.name %>
			<% end %>
			<br>
			<%= reservation.hour %>
			<br>
			<%= reservation.party_size %>
			<br>
			<%= reservation.date %>
	</li>
<% end %>

</ul>