<h2>Your Reservation Info</h2>


<p>Reservation for <%= @reservation.time %></p>
<p>Party Size: <%= @reservation.party_size %></p>

<h3>Use this number to help us verify you once you reach our restaurant: <%= @reservation.id %>3123</h3>