<h2>Restaurants</h2>

<div class="restaurants">

<%= @restaurants.each do |restaurant| %>
	<p><%= link_to image_tag(restaurant.picture_url), restaurant_path(restaurant) %> </p>
	<p><%= restaurant.name %> </p>
	<p><%= restaurant.city %></p>
<% end %>

</div>